@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-rows: 3fr 7fr;
    height: 100vh;

    header {
        background-image: url('./assets/images/pattern-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header-wrapper {
            position: absolute;
            top: 2em;
            color: white;
            width: 100%;
            h1 {
                text-align: center;
            }
            form {
                width: 100%;
                display: inline-flex;
                justify-content: center;
            }
            form>input {
                display: inline-block;
                height: 4.5em;
                border: none;
                padding: 0;
            }

            input[type='text'] {
                width: 40%;
                border-radius: 1em 0 0 1em;
                text-align: justify 10px;
                padding-left: 1em;
            }

            input[type='submit'] {
                background-color: #010000;
                width: clamp(30px,40px,40px);
                border-radius: 0 1em 1em 0;
                background-image: url('./assets//images/icon-arrow.svg');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                transition: background-color 1s ease-in-out

            }
            
        }
    }

    .results {
        margin: 0 auto;
        position: absolute;
        background-color: white;
        height: 15%;
        width: 80%;
        top: 22%;
        right: 0;
        left: 0;
        border-radius: 1em;
        z-index: 1000;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        .result-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: fit-content;

            h2 {
                font-weight: 400;
                font-size: .8em;
                text-align: left;
                position: absolute;
                top: 2em;
            }

            p {
                font-weight: 700;
                font-size: 1.2em;
            }

            h2, p {
                margin: 0;
                padding: .5em;
            }

            
        }

        .result-block:not(:last-of-type) {
            border-right: 1px solid rgb(141, 140, 140);
            @media only screen and (max-width: 767px) {
                border-right: none;
                border-bottom: 1px solid rgba(141, 140, 140, 0.488);
                width: 80%;
            }
        }

        @media only screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            height: fit-content;
            .result-block {
                display: block;
                h2 {
                    position: relative;
                    top: 0;
                }
              
            }
        }

    }

}

h2.popup,
p.popup {
    margin: 0;
    text-align: center;
}