body, html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-rows: 2fr 7fr;
    height: 100vh;

    header {
        background-image: url('./assets/images/pattern-bg.png');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {

        }
    }

    .results {
        position: absolute;
    }

}

h2.popup, p.popup {
    margin: 0;
    text-align: center;
}